<div class="flex flex-col sm:flex-row justify-center gap-4">
	<a href="{{ path('app_contact') }}" class="text-center bg-primary hover:bg-primary/90 text-white font-bold py-4 px-8 rounded-lg transition duration-300 shadow">
		Nous contacter
	</a>

	<a href="{{ path('app_devis') }}" class="text-center bg-secondary hover:bg-secondary/90 text-white font-bold py-4 px-8 rounded-lg transition duration-300 shadow">
		Demander un devis
	</a>
</div>
